.header { 
  background-color: #363e45;
  padding: 0px 0;
}

.header-container {
  display: flex;
  justify-content: space-between; /* Aligns items to the left and right */
  align-items: center;
  padding-left: 5px; /* Reduce padding on the left */
  padding-right: 5px; /* Reduce padding on the right */
  height: 150px; /* Reduced height for the header container */
}

.logo-container {
  flex: 1;
}

.logo-img {
    height: 150px;
    width: 150px;
    object-fit: contain; /* keeps image proportions */
    
    margin: 0 auto; /* center it horizontally */
}
.location-link {
    border-color: #d8b573 !important; /* Border color */
    color: #d8b573 !important;        /* Text color */
    background-color: transparent;     /* Keep background transparent */
    font-weight: 500;
    transition: all 0.3s ease;
}

.location-link:hover {
    background-color: #d8b573;
    color: #fff !important;
    text-decoration: none;
}
.login-container {
  flex: 1;
  display: flex;
  justify-content: flex-end; /* Aligns the login button to the right */
}

.login-button {
  background-color: #d8b573;
  color: white;
  padding: 4px 8px; /* Further reduced padding */
  border-radius: 5px;
  text-decoration: none;
  font-size: 14px; /* Reduced font size */
}

.login-button:hover {
  background-color: #0056b3;
  color: white;
}


.logo-container {
  flex: 1;
}

.location-container {
  display: flex;
  align-items: center;
}

.location-button {
  margin-right: 10px;
  padding: 5px 10px;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  cursor: pointer;
}

.location-status {
  margin-right: 20px;
}

.nearby-locations {
  padding: 5px 10px;
  margin-right: 20px;
}

.search-container {
  flex: 2;
  display: flex;
  justify-content: center;
}

.search-bar {
  width: 100%;
  max-width: 300px;
  padding: 8px;
  border: 1px solid #ccc;
}

.login-container {
  margin-left: auto;
}

.language-selector {
  margin-left: 20px;
}
